[user]
    name = Martin Meyer
    email = elreydetodo@gmail.com
    signingkey = 43F86CD1
[color]
    ui = auto
[commit]
    gpgsign = true
[core]
    pager = diff-so-fancy | less
    whitespace = blank-at-eol,space-before-tab,tab-in-indent,tabwidth=4
    untrackedCache = true
[fetch]
    prune = true
#    pruneTags = true
[interactive]
    diffFilter = diff-so-fancy --patch
[pull]
    ff = only
[push]
    default = simple
[url "git@github.com:"]
    insteadOf = https://github.com/
